In [142]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [143]:
# Importar Data
df = pd.read_csv('F:\Python\Proyecto-Certificado-AdDFCC\Proyectos-Certificado-Analisis-de-Datos-FreeCodeCamp\Visualizador_de_datos_médicos\medical_examination.csv')
df

,id,age,sex,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,19240,2,168,76.0,120,80,1,1,1,0,1,0
69996,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1
69997,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1
69998,99998,22431,1,163,72.0,135,80,1,2,0,0,0,1
69999,99999,20540,1,170,72.0,120,80,2,1,0,0,1,0

In [144]:
# Agregar columna sobrepeso
calc_overweight = (df['weight']) / ((df['height']/100) ** 2)
df['overweight'] = calc_overweight.round(1)
df

,id,age,sex,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,overweight
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0,22.0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1,34.9
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1,23.5
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1,28.7
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,19240,2,168,76.0,120,80,1,1,1,0,1,0,26.9
69996,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1,50.5
69997,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1,31.4
69998,99998,22431,1,163,72.0,135,80,1,2,0,0,0,1,27.1
69999,99999,20540,1,170,72.0,120,80,2,1,0,0,1,0,24.9

In [145]:
def overweight(row):
    if (row['overweight'] / 25) > 1:
        val = 1
    else:
        val = 0
    return val

df['overweight'] = df.apply(overweight, axis=1)
df

,id,age,sex,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,overweight
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1,0
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,19240,2,168,76.0,120,80,1,1,1,0,1,0,1
69996,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1,1
69997,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1,1
69998,99998,22431,1,163,72.0,135,80,1,2,0,0,0,1,1
69999,99999,20540,1,170,72.0,120,80,2,1,0,0,1,0,0

In [146]:
# Normalizar los datos haciendo que 0 sea siempre bueno y 1 sea siempre malo. Si el valor de 'cholesterol' o 'gluc' es 1, el valor es 0. Si el valor es mayor a 1, el valor es 1.
def normalize():
    df.loc[df['gluc'] == 1, 'gluc'] = 0
    df.loc[df['gluc'] > 1, 'gluc'] = 1
    df.loc[df['cholesterol'] == 1, 'cholesterol'] = 0
    df.loc[df['cholesterol'] > 1, 'cholesterol'] = 1
    df.loc[df['smoke'] == 1, 'smoke'] = 0
    df.loc[df['smoke'] > 1, 'smoke'] = 1
    df.loc[df['alco'] == 1, 'alco'] = 0
    df.loc[df['alco'] > 1, 'alco'] = 1
    df.loc[df['active'] == 1, 'active'] = 0
    df.loc[df['active'] > 1, 'active'] = 1

normalize()
df.tail(50)

,id,age,sex,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,overweight
69950,99933,19137,2,167,74.0,130,80,1,0,1,1,1,0,1
69951,99934,15254,1,158,55.0,110,70,1,0,0,0,1,0,0
69952,99935,19727,1,172,75.0,120,80,1,0,0,0,1,1,1
69953,99936,17373,2,173,69.0,110,70,1,0,1,1,1,1,0
69954,99938,15151,1,170,60.0,120,80,2,0,0,0,1,0,0
69955,99939,21726,1,164,88.0,140,90,1,0,0,0,1,0,1
69956,99940,21453,1,158,75.0,120,80,3,1,0,0,1,0,1
69957,99941,15536,2,166,90.0,120,80,1,0,1,0,1,0,1
69958,99943,15239,2,169,67.0,160,90,1,0,0,0,1,1,0
69959,99945,19069,1,163,64.0,130,70,1,0,0,0,1,1,0
69960,99947,20587,2,169,79.0,140,90,1,0,0,0,0,1,1
69961,99948,16598,1,161,50.0,110,75,1,0,0,0,1,0,0
69962,99949,21151,1,178,69.0,130,90,1,0,0,0,1,1,0
69963,99950,19538,2,155,76.0,130,90,1,0,0,0,1,0,1
69964,99951,22491,2,170,72.0,120,80,1,0,0,0,0,1,0
69965,99952,15450,2,165,66.0,120,80,1,0,0,0,0,0,0
69966,99954,20327,1,156,67.0,140,80,2,0,0,0,0,0,1
69967,99955,21416,2,168,63.0,140,1000,1,0,0,0,1,1,0
69968,99956,16093,2,157,61.0,110,90,1,0,0,0,1,0,0
69969,99957,20529,2,175,78.0,120,80,1,0,0,0,0,0,1
69970,99958,22572,2,173,103.0,140,80,3,0,1,1,0,1,1
69971,99959,20136,2,177,80.0,130,80,1,0,0,0,1,0,1
69972,99960,17065,1,165,76.0,140,90,1,0,0,0,1,1,1
69973,99961,22142,2,175,72.0,130,80,1,0,0,0,1,0,0
69974,99962,18226,1,168,75.0,120,80,1,0,0,0,1,0,1
69975,99963,21264,2,182,100.0,120,80,1,0,0,0,1,1,1
69976,99964,21699,1,163,65.0,120,80,2,1,0,0,1,0,0
69977,99965,16843,1,168,75.0,120,79,1,0,0,0,1,0,1
69978,99967,18800,1,163,78.0,90,60,1,0,0,0,1,1,1
69979,99969,22423,1,163,74.0,160,100,2,1,0,0,1,1,1
69980,99971,17727,2,167,69.0,110,80,1,0,0,1,0,0,0
69981,99972,17500,2,182,110.0,130,90,2,1,0,0,1,1,1
69982,99973,18941,1,153,86.0,130,90,1,1,0,0,1,1,1
69983,99974,19652,1,165,72.0,120,80,1,0,0,0,1,0,1
69984,99975,17926,2,168,80.0,120,80,1,0,0,0,1,1,1
69985,99977,18194,1,156,102.0,130,80,1,0,0,1,0,1,1
69986,99978,18198,2,180,78.0,120,80,1,0,0,0,1,0,0
69987,99979,18852,1,151,49.0,120,80,1,0,0,0,1,0,0
69988,99981,21978,1,160,59.0,110,70,1,0,0,0,1,0,0
69989,99985,21013,1,157,83.0,120,70,1,0,0,0,1,1,1
69990,99986,15094,1,168,72.0,110,70,1,0,0,0,1,1,1
69991,99988,20609,1,159,72.0,130,90,2,1,0,0,1,0,1
69992,99990,18792,1,161,56.0,170,90,1,0,0,0,1,1,0
69993,99991,19699,1,172,70.0,130,90,1,0,0,0,1,1,0
69994,99992,21074,1,165,80.0,150,80,1,0,0,0,1,1,1
69995,99993,19240,2,168,76.0,120,80,1,0,1,0,1,0,1
69996,99995,22601,1,158,126.0,140,90,2,1,0,0,1,1,1
69997,99996,19066,2,183,105.0,180,90,3,0,0,1,0,1,1
69998,99998,22431,1,163,72.0,135,80,1,1,0,0,0,1,1
69999,99999,20540,1,170,72.0,120,80,2,0,0,0,1,0,0

In [147]:
# Dibujar Plot categorico

# Crear un DataFrame usando `pd.melt` para los valores 'cholesterol', 'gluc', 'smoke', 'alco', 'active', and 'overweight'.
melt = pd.melt(df,id_vars=["cardio"], value_vars=["active","alco","cholesterol","gluc","overweight","smoke"])
melt.groupby(["cardio", "variable", "value"]).size().to_frame("total").reset_index()
# sns.catplot(x="variable",y="total",data=melt,hue="value", kind="bar", col="cardio")

    cardio     variable  value  total
0        0       active      0   6378
1        0       active      1  28643
2        0         alco      0  33080
3        0         alco      1   1941
4        0  cholesterol      1  29330
5        0  cholesterol      2   3799
6        0  cholesterol      3   1892
7        0         gluc      0  30894
8        0         gluc      1   4127
9        0   overweight      0  16015
10       0   overweight      1  19006
11       0        smoke      0  31781
12       0        smoke      1   3240
13       1       active      0   7361
14       1       active      1  27618
15       1         alco      0  33156
16       1         alco      1   1823
17       1  cholesterol      1  23055
18       1  cholesterol      2   5750
19       1  cholesterol      3   6174
20       1         gluc      0  28585
21       1         gluc      1   6394
22       1   overweight      0  10617
23       1   overweight      1  24362
24       1        smoke      0  32050
25       1        smoke      1   2929